{% extends 'base.html' %}
{% block body %}
<h3>{{ the_title }}</h3>
<p>{{ phrase_3 }}</p>

<form action="/" method="post">

    <p>Choose bar quantity:</p>
    <button type="submit" name="button" value="1">1</button>
    <button type="submit" name="button" value="2">2</button>
    <button type="submit" name="button" value="3">3</button>
    <button type="submit" name="button" value="4">4</button>
</form>

{% if flag %}
<div class="image-container">
<img src="{{ url_for('static',
 filename='images/result/result.png')
  }}" class="resizable-image" />
</div>
{% endif %}

{% if flag_3 %}
<div class="image-container">
<img src="{{ url_for('static',
 filename='images/result/result_2.png')
  }}" class="resizable-image" />
</div>


{% endif %}

{% endblock %}

